.container{
  background: rgb(247, 243, 243);
  border: 0.5px solid  rgb(187, 143, 48);
}

li a{
  text-decoration: none;
  color: rgb(187, 143, 48);
}

header{
  color: rgb(187, 143, 48);
}

h1.studentName{
  text-align: center;
  border: 1px solid rgb(187, 143, 48);
  margin: 0;
}

ul.contact{
  list-style: none;
  text-align: center;
}

ul.contact li{
  display: inline-block;
  justify-content: space-evenly;
  padding: 8px;
}

ul.contact li:hover, ul.contact li:focus, li a:hover, li a:focus{
  background: rgb(187, 143, 48);
  color: rgb(247, 243, 243);
}

div.imgWrapper{
  display: flex;
  justify-content: center;
}

img.studentImage{
  border-radius: 30px 30px 0px 0px;
}

main{
  text-align: center;
  margin: 0px;
  padding-top: 16px;
  /* border: 0.5px solid  rgb(58, 44, 247); */
  /* display: flex; */
}

h3, p.datesOfEmp, h5.fieldOfStudy {
  margin: 0;
  padding: 8px;
}

.dutyHeader{
  margin: 0;
  padding: 0;
}

section.experience, section.education{
  border: 0.5px solid  rgb(187, 143, 48);
  padding: 16px;
}

/* Desktop View  */
@media only screen and (min-width: 560px) {
  main{
      display: flex;
      justify-content: center;
  }
}
